<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Learning VueJS</title>
        <script src="https://unpkg.com/vue@3.0.2"></script>
        <style>
            .box{
                padding: 100px 0;
                width: 400px;
                text-align: center;
                background: #ddd;
                margin: 20px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <h2> Mouse Events </h2>
            <div v-if="showInfo">
                <p>{{title}} - {{author}} - {{age}}</p>
            </div>
            
            <button @click="toggleShowInfo">
                <span v-if="showInfo">Hide Info</span>
                <span v-else>Show Info</span>
            </button>
            <br>
            <br>

            <div class="box" @mouseover="handleEvent, enteringCount++" >
                MouseOver(enter)<br>
                You've entered this box {{ enteringCount }} times
            </div>
            <div class="box" @mouseleave="handleEvent, leavingCount++">
                MouseLeave(exit)<br>
                You've leaved this box {{ leavingCount }} times
            </div>
            <div class="box" @dblclick="handleEvent, doubleClickCount++">
                Double Click<br>
                You've Double Clicked this box {{ doubleClickCount }} times
            </div>
            <div class="box" @mousemove="handleMouseMoveEvent">
                Mouse Position(on the box)<br> 
                x: {{ x }} y: {{ y }}
            </div>
            
        </div>
        <script src="app.js"> </script>
    </body>
</html>